/* Root */
.root {
	-stuff-light: #2B2B2B;
	-stuff-dark: #161616;
	-stuff-text-fill: gold;
	-stuff-hover-fill: red;
	-fx-background-color: -stuff-light;
	-fx-text-fill: -stuff-text-fill;
	-fx-focus-color: transparent;
	
	/* Override (some) Pop Button styles */
	-pop-button--text-color: -stuff-text-fill;
	-pop-button--clicked-text-color: -stuff-text-fill;
}

.pop-button:hover.button, .pop-button:hover.menu-button > .label {
	-fx-text-fill: -stuff-hover-fill;
}

/* Buttons */
.button {
	-fx-cursor: hand;
}

/* Texts */
.text {
	-fx-text-fill: -stuff-text-fill;
}

/* Text Fields */
.text-field {
	-fx-background-color: -stuff-dark;
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
	-fx-highlight-fill: -stuff-text-fill;
	-fx-highlight-text-fill: black;
	-fx-text-fill: -stuff-text-fill;
}

/* Accordions */
.accordion TitledPane {
	-fx-animated: true;
}

.accordion TitledPane .title {
	-fx-background-color: -stuff-dark;
}

.accordion TitledPane .title .text {
	-fx-fill: -stuff-text-fill;
}

.accordion TitledPane .title:hover .text {
	-fx-fill: -stuff-hover-fill;
}

.accordion TitledPane:expanded .title .text {
	-fx-font-weight: bold;
}

.accordion TitledPane .content {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

/* ScrollPane background fix */
.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: transparent;
}

/* TabPanes */
.tab-pane {
	-fx-border-color: -stuff-dark;
}

.tab-pane:top .tab-header-area .tab-header-background {
	-fx-background-color: -stuff-dark;
}

.tab-pane:top .tab-header-area .headers-region .tab {
	-fx-background-color: black;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .focus-indicator {
	-fx-border-color: transparent;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .tab-label {
	-fx-text-fill: -stuff-text-fill;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
	-fx-font-weight: bold;
}

.tab-pane:top .tab-header-area .headers-region .tab:hover .tab-container .tab-label {
	-fx-text-fill: -stuff-hover-fill;
}

/* MenuBars */
/* These style specs aren't comprehensive of nested menus (I believe). Specifically in terms of hovering and focusing nested menus. This may need to be covered by a separate stylesheet (or by this one) when the problem shows up. */
.menu-bar {
	-fx-background-color: -stuff-dark;
}

.menu-bar .container .menu > .label {
	-fx-text-fill: -stuff-text-fill;
}

.menu-bar .container {
	-fx-spacing: 0.0;
}

.menu-bar .container .menu:hover {
	-fx-background-color: -stuff-light;
}
.menu-bar .container .menu:showing {
	-fx-background-color: -stuff-text-fill;
}
.menu-bar .container .menu:showing > .label {
	-fx-text-fill: -stuff-dark;
}

.menu-bar .container .menu:showing .context-menu {
	-fx-background-color: -stuff-dark;
}

.menu-bar .container .menu:showing .menu-item:hover,
.menu-bar .container .menu:showing .menu-item:showing,
.menu-bar .container .menu:showing .menu-item:focused {
	/* :focused is needed bc if the cursor is moved outside of the menu, items which do not have submenus will have the default blue effect. The top level menu items don't suffer from this effect. /shrug */
	-fx-background-color: -stuff-text-fill;
}
.menu-bar .container .menu:showing .menu-item:hover .label,
.menu-bar .container .menu:showing .menu-item:showing .label,
.menu-bar .container .menu:showing .menu-item:focused .label {
	-fx-text-fill: -stuff-dark;
}