/* Search Control - The accordion (wrapped in a VBox) on the left of the window. */
#SearchControl {
	-fx-border-color: transparent -stuff-dark transparent transparent;
}

#SearchControl #SearchButton {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}

#SearchControl #SearchButton:hover {
	-fx-background-color: -stuff-dark;
}



/* Navigation Control - The accordion on the right. */
#NavigationControl {
	-fx-border-color: -stuff-dark transparent transparent -stuff-dark;
}

#NavigationControl VBox {
	-fx-alignment: top-center;
}

#NavigationControl VBox .button {
	-fx-background-radius: 0;
	-fx-background-color: #171717C0;
}

#NavigationControl VBox .button .text {
	-fx-fill: -stuff-text-fill;
}

#NavigationControl VBox .button:hover .text {
	-fx-fill: red;
}