/* Pop Buttons */
.pop-button:armed.button {
	-fx-border-color: black;
	-fx-border-width: 2.0px 2.0px 0.0 0.0;
	-fx-text-fill: #535353;
	-fx-label-padding: 2.0px 2.0px 0.0 0.0;
}

.pop-button {
	-fx-font-family: Consolas;
	-fx-border-width: 2.0px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-background-color: #00000015;
}

.pop-button.date-picker .date-picker-display-node {
	-fx-font-family: Consolas;
	-fx-border-width: 0.0;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: #00000015;
}

.pop-button.button {
	-fx-border-width: 0.0 0.0 2.0px 2.0px;
}



/* Root */
.root {
	-stuff-light: #2B2B2B;
	-stuff-dark: #161616;
	-fx-background-color: -stuff-light;
	-fx-text-fill: white;
	-fx-focus-color: transparent;
}

.button {
	-fx-cursor: hand;
}

.text-field {
	-fx-background-color: -stuff-dark;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-highlight-fill: gold;
	-fx-highlight-text-fill: black;
	-fx-text-fill: gold;
}

.accordion TitledPane {
	-fx-animated: true;
}

.accordion TitledPane .title {
	-fx-background-color: -stuff-dark;
}

.accordion TitledPane .title .text {
	-fx-fill: gold;
}

.accordion TitledPane .title:hover .text {
	-fx-fill: red;
}

.accordion TitledPane:expanded .title .text {
	-fx-font-weight: bold;
}

.accordion TitledPane .content {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: transparent;
}



/* Tab Pane */
.tab-pane {
	-fx-border-color: -stuff-dark;
}

.tab-pane:top .tab-header-area .tab-header-background {
	-fx-background-color: -stuff-dark;
}

.tab-pane:top .tab-header-area .headers-region .tab {
	-fx-background-color: black;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .focus-indicator {
	-fx-border-color: transparent;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .tab-label {
	-fx-text-fill: gold;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected .tab-container .tab-label {
	-fx-font-weight: bold;
}

.tab-pane:top .tab-header-area .headers-region .tab:hover .tab-container .tab-label {
	-fx-text-fill: red;
}



/* Search Control - The accordion (wrapped in a VBox) on the left of the window. */
#SearchControl {
	-fx-border-color: transparent -stuff-dark transparent transparent;
}

#SearchControl #SearchButton {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}

#SearchControl #SearchButton:hover {
	-fx-background-color: -stuff-dark;
}



/* Navigation Control - The accordion on the right. */
#NavigationControl {
	-fx-border-color: transparent transparent transparent -stuff-dark;
}

#NavigationControl VBox {
	-fx-alignment: top-center;
}

#NavigationControl VBox .button {
	-fx-background-radius: 0;
	-fx-background-color: #171717C0;
}

#NavigationControl VBox .button .text {
	-fx-fill: gold;
}

#NavigationControl VBox .button:hover .text {
	-fx-fill: red;
}